.hero-crypto-icons {
  margin-top: 80px;
}

.hero-crypto-icons h3 {
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 260px;
  text-align: center;
  margin: 10px auto;
}

.hero-crypto-icons img {
  width: 40px;
  margin-bottom: 10px;
}

.hero-crypto-icons p {
  font-size: 1.3rem;
}

.hero-crypto-icons a {
  text-decoration: none;
}
