.market-section {
  min-height: 100vh;
  max-width: 1200px;
  padding-top: 150px;
  margin: auto;
  font-family: "Space Grotesk", sans-serif;
  overflow-x: auto;
}

table {
  width: 1200px;
  margin: 40px auto;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.1s ease;
}

th {
  padding: 10px 20px;
}

td {
  padding: 20px;
  border-collapse: collapse;
}

thead {
  background: linear-gradient(25deg, #2600fc, #ff00ea);
  color: #f3f2f4;
  font-size: 1.4rem;
}

thead tr th:first-child {
  border-radius: 20px 0 0 0;
}

thead tr th:last-child {
  border-radius: 0 20px 0 0;
}

tbody tr {
  border-bottom: 1px solid white;
}

.coin-image-container img {
  width: 35px;
  height: 35px;
  margin-right: 25px;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 40px;
}

.pagination-buttons button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: black;
  border: 2px solid black;
  font-weight: bold;
}

.active-page {
  background: linear-gradient(25deg, #2600fc, #ff00ea);
  color: #fff !important;
}

.table-head-buttons {
}

.table-head-buttons:hover {
  color: #3c1367;
  cursor: pointer;
}

.hidden svg {
  display: none;
}

@media screen and (max-width: 1200px) {
  table {
    width: 1000px;
  }

  .market-section {
    padding: 140px 10px 0;
  }

  .market-section h1 {
    text-align: center;
  }

  table {
    font-size: 1rem;
  }

  thead {
    font-size: 1.2rem;
  }

  th {
    padding: 20px 10px;
  }

  td {
    padding: 20px 10px;
    border-collapse: collapse;
  }
}

@media screen and (max-width: 576px) {
  .pagination-buttons button {
    width: 30px;
    height: 30px;
    font-size: 0.8rem;
  }

  .pagination-buttons {
    gap: 0.5rem;
    max-width: 100%;
  }

  table {
    max-width: 700px;
  }

  td {
    padding: 20px 10px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
